﻿@{
    ViewData["Title"] = "Home";
}
<h1>@ViewData["Title"]</h1>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about the RavenVision API by <a href="../swagger/index.html">clicking here...</a></p>
    </div>
